h1 {
  text-align: center;
  color: rgb(250, 185, 23);
  margin: 40px auto;
}

div {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

table {
  border: 3px solid rgb(62, 200, 254);
  width: 700px;
  height: 700px;
    td{
      color: rgb(230, 230, 230);
      font-weight: bold;
      text-align: center;
      border: 1px solid rgb(250, 185, 23);
    }
}

h4 {
  color: rgb(250, 185, 23);
  text-align: center;
  margin: 30px auto;
  cursor: pointer;
  font-size: 24px;
}
